[workspace]
authors = ["lkless <leakless21@gmail.com>"]
channels = ["conda-forge"]
name = "AI_ControL_PTZ"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
main = "python3 main.py"
cam = "python3 test_camera_detection.py"
test = "python3 -m unittest discover -s . -p 'ptz_test.py'"
[dependencies]
python = ">=3.11,<3.12"
opencv = ">=4.11.0,<5"
ultralytics = ">=8.3.147,<9"
pytorch-cpu = ">=2.7.0,<3"
torchvision = ">=0.22.0,<0.23"
torchaudio = ">=2.7.0,<3"
lap = ">=0.5.12,<0.6"
numpy = ">=2.2.6,<3"
loguru = ">=0.7.3,<0.8"
pytest = ">=8.4.0,<9"
[pypi-dependencies]
onvif-zeep = ">=0.2.12, <0.3"
aiortc = ">=1.13.0, <2"
aiohttp = ">=3.12.12, <4"
loguru = "*"
pytest = "*"

