[workspace]
authors = ["lkless <leakless21@gmail.com>", "YMG Pwcca <ymgpwcca@proton.me>"]
channels = ["conda-forge"]
name = "AI_ControL_PTZ"
platforms = ["win-64"]
version = "0.1.0"

[system-requirements]
cuda = "12.0"

[tasks]
main = "python main.py"
cam = "python test_camera_detection.py"
test = "python -m unittest discover -s . -p 'ptz_test.py'"

[dependencies]
python = ">=3.11,<3.12"
opencv = ">=4.11.0,<5"
ultralytics = ">=8.3.147,<9"
lap = ">=0.5.12,<0.6"
numpy = ">=2.2.6,<3"
loguru = ">=0.7.3,<0.8"
pytest = ">=8.4.0,<9"
cuda-version = "==12.8"

[pypi-dependencies]
onvif-zeep = ">=0.2.12, <0.3"
aiortc = ">=1.13.0, <2"
aiohttp = ">=3.12.12, <4"
loguru = "*"
pytest = "*"
torch = { version = ">=2.7.0,<3", index = "https://download.pytorch.org/whl/cu128" }
torchvision = { version = ">=0.22.0,<0.23", index = "https://download.pytorch.org/whl/cu128" }
torchaudio = { version = ">=2.7.0,<3", index = "https://download.pytorch.org/whl/cu128" }
